<style type="text/css">
h1 {
	  color: red;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 2px 2px 2px #000;
}
</style>

<h1>Hello, world!</h1>